<a href="https://colab.research.google.com/github/MhizzyMacasieb/OOP58001/blob/main/List_of_Tuples_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Function**

In [3]:
class shapes:
  def __init__(self,length,width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width
rectangle=shapes(18,5)
rectangle.area()

90

In [5]:
class shapes:
  def __init__(self,side):
    self.side = side
  def areasqr(self):
    return self.side**2
square=shapes(5)
square.areasqr()

25

In [14]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def name_age(self):
    return self.name + self.age

identity=Person("MACASIEB, Mary Mhizzy D"," 21 years old")
identity.name_age()

'MACASIEB, Mary Mhizzy D 21 years old'

In [8]:
pi = 3.14159
varlist = ['abc',1,'def',2]
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']

In [10]:
students = {
            1: "ana",
            2: "billy",
            3: "maria",
            4: "joy",
            3: "bessy"

}
print(students)

{1: 'ana', 2: 'billy', 3: 'bessy', 4: 'joy'}