<a href="https://colab.research.google.com/github/MhizzyMacasieb/OOP58001/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loop**

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

**Break**

In [4]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

In [5]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

In [11]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Tuesday":
    print(x)
  elif x=="Thursday":
    print(x)
    break

Tuesday
Thursday

**Looping through a String**

In [12]:
for x in "week":
  print(x)

w
e
e
k

**Nested Loops**

In [13]:
adjective=["red","big","tasty"]
fruits=["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Example 5**

In [14]:
i=1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

**While Using Break Statement**

In [15]:
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1

1
2
3

**While**

In [16]:
i=1
while i<6:
  print(1)
  i+=1
else:
  print("i is no longer less than 6")

1
1
1
1
1
i is no longer less than 6

**Application 1**

In [17]:
i=0
while i<11:
  print("hello", i)
  i+=1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

**Application 2**

In [18]:
i=3
while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9